<!DOCTYPE html>
<html>
    <head>
        <title>Uppernews</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        <script src="/dist/app.js"></script>
    </body>
</html>
